services:
  redis:
    image: redis
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  mongo:
    image: mongo
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"





  api:
    build: ./analytics-api
    container_name: api
    restart: unless-stopped
    ports:
      - "8000:8000"

    environment:
      MONGO_HOST: mongo
      MONGO_USER: root
      MONGO_PORT: 27017
      MONGO_PASSWORD: example
      REDIS_HOST: redis
      REDIS_PORT: 6379

    depends_on:
      - mongo
      - redis

  consumer:
    build: ./consumer
    container_name: consumer
    restart: unless-stopped

    environment:
      MONGO_HOST: mongo
      MONGO_USER: root
      MONGO_PORT: 27017
      MONGO_PASSWORD: example
      REDIS_HOST: redis
      REDIS_PORT: 6379

    depends_on:
      - mongo
      - redis

  producer:
    build: ./producer
    container_name: producer
    restart: unless-stopped

    environment:
      MONGO_HOST: mongo
      MONGO_USER: root
      MONGO_PORT: 27017
      MONGO_PASSWORD: example
      REDIS_HOST: redis
      REDIS_PORT: 6379

    depends_on:
      - mongo
      - redis